{% extends 'node.html.twig' %}
{% block node %}

    <h2 class="{{ bem_block }}__title"><a href="{{ url }}">{{ label }}</a></h2>

    <div class="{{ bem_block }}__link">{{ url_absolute }}</div>

    <div class="{{ bem_block }}__meta">
        <div class="{{ bem_block }}__created">{{ node.getCreatedTime|date('d.m.y') }}</div>
        {{ content.estimated_read_time }}
        {{ content.tags }}
    </div>
    {{ content.body }}
{% endblock node %}